header {
    text-align: center;
    background-color: black;
    opacity: 0.6;
    color:white;
}

#searchNav {
    background-color: lightgrey;
    opacity: 0.6;
}

#forecast {
    border: 2px solid lightgrey;
    border-radius: 5px;
}


.favorable{
    background-color: green;
    border: 2px solid greeny;
}

.moderate{
    background-color: yellow;
    border: 2px solid yellow;
}

.severe{
    background-color: red;
    border: 2px solid red;
}

.dayForecast{
    background-color: rgb(0, 132, 255);
    color: white; 
    border-radius: 5px; 
}